<div class="card">
  <h3 class="name">{{ customer.name }}</h3>
  <div class="meta">{{ customer.company }}</div>
  <div class="meta small">{{ customer.email }}</div>

  <button class="fav" (click)="onToggle()" [class.active]="customer.favorite" aria-label="Favorit">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path [attr.fill]="customer.favorite ? 'currentColor' : 'none'" d="M12.1 21.35l-1.1-.99C5.14 15.24 2 12.39 2 8.99 2 6.24 4.24 4 6.99 4c1.54 0 3.04.73 4.01 1.88A5.16 5.16 0 0 1 15.01 4C17.76 4 20 6.24 20 8.99c0 3.4-3.14 6.25-8.01 11.37l-.89.99z" stroke="currentColor" stroke-width="1.5"/>
    </svg>
  </button>
</div>


